html {
    height: 100%;
  }

body {

    font-family: 'Raleway', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1499188073299-5bd9060e044b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    background-attachment: fixed;
   background-size: 100%;
   color: white;
}

.jumbotron {
    background-image: url(trump-2.jpg);
    background-size: cover;
    background-position: center;
    border: 1px solid white;

}

.navbar {
    background: transparent;
}

img {
    padding: 0;
}